<div class="form-group row uploaded-things">
    <div class="already-added-images col-xs-2">
        <button class="btn btn-danger"><span
            class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="add-image row col-xs-2">
        <!--<img src="../../assets/images/upload-thumb.png" width="400" height="400" class="img-rounded img-responsive img-thumbnail"-->
        <!--alt="Please upload an image">-->
        <label class="btn btn-success btn-file">
            <span class="glyphicon glyphicon-plus-sign"></span> <input type="file" style="display: none;">
        </label>
    </div>
</div>









