<div class="form-group row uploaded-things">
    <div class="already-added-images col-xs-2" ng-repeat="image in vm.actualThing.images track by $index">
        <!--<button class="btn btn-danger"><span-->
            <!--class="glyphicon glyphicon-remove"></span></button>-->
        <img ng-src="{{image.src}}" width="130" height="145" alt="" />
    </div>
    <div class="add-image row col-xs-2">
        <label class="btn btn-success btn-file">
            <span class="glyphicon glyphicon-plus-sign"></span> <input type="file" style="display: none;">
        </label>
    </div>
</div>









