<div class="uploaded-things">
    <div class="already-added-images" ng-repeat="image in vm.actualThing.images track by $index"
         ng-click="vm.deleteImage($index)">
        <img ng-src="{{image.src}}" width="130" height="145" alt=""/>

        <div class="overlay">
            <span class="glyphicon glyphicon-trash delete-image"></span>
        </div>
    </div>
    <div class="add-image">
        <label class="btn btn-success btn-file">
            <span class="glyphicon glyphicon-plus-sign"></span> <input type="file" multiple style="display: none;"
                                                                       class="upload-input">
        </label>
    </div>
</div>









