@import "mixins";
@import "variables";

.email-editor {
    .tool-header {
        @include component-header();
    }

    .panel-group {
        background-color: $background-group-color;
        padding: 0 10px 10px 10px;
        border-radius: 4px;

        .group-header {
            padding-top: 10px;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }

        .panel {
            margin-bottom: 10px;

            .panel-heading {
                background-color: $primary-color;
            }

            .panel-body {
                .group-container {
                    border-bottom: 2px dotted black;
                    padding: 10px 0;

                    .group-title {
                        margin-bottom: 10px;

                        label {
                            font-size: 20px;
                            line-height: 20px;
                        }
                    }
                }

                .add-new-group {
                    margin: 16px 0 0 16px;
                }

                .sum-story-container {
                    > div {
                        margin: 60px 0 0 40px;

                        * {
                            display: inline-block;
                        }

                        .sum-of-stories-value {
                            font-size: 22px;
                        }
                    }
                }

                .add-extras-with-image {
                    padding-top: 10px;
                    margin-top: 10px;
                    border-top:  2px dotted black;
                }

                .custom-field-container {
                    margin-bottom: 10px;

                    .custom-fields {
                        padding: 10px 0;
                        margin-bottom: 10px;
                        border-bottom: 2px solid $background-group-color;

                        .field-rows {
                            margin: 10px 0;

                            div:first-child {
                                padding-left: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }

        .bug-related-stat {
            .classification-title {
                padding: 10px;
                background: $background-group-color;
                border-radius: 4px;
            }
        }
    }
}
