@import "variables";

.app-header {
    background-color: $primary-color;
    background-image: url("../images/co-transparent-header.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    color: $primary-text-color;
    text-shadow: black 2px 2px;
    box-shadow: 0 4px 2px -2px gray;
}
