<div class="bg-primary tool-header">
    <h2 class="text-center text-capitalize">Email editor <span class="glyphicon glyphicon-edit"></span></h2>
</div>

<div class="panel-group release-info-editor" ne-toggle>
    <h3 class="group-header"><span class="glyphicon glyphicon-header"></span> {{vm.model.header.title}}</h3>

    <div class="panel panel-primary release-number">
        <div class="panel-heading">{{vm.model.header.releaseInfo.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-sm-6">
                <div class="form-group row">
                    <label for="release-number" class="col-xs-6">{{vm.model.header.releaseInfo.title}}</label>

                    <div class="col-xs-6">
                        <input type="text" ng-model="vm.model.header.releaseInfo.value" class="form-control"
                               id="release-number">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel-group highlight-editor" ne-toggle>
    <h3 class="group-header"><span class="glyphicon glyphicon-eye-open"></span> {{vm.model.highlight.title}}</h3>

    <div class="panel panel-primary feature-editor">
        <div class="panel-heading">{{vm.model.highlight.features.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="feature in vm.model.highlight.features.featureList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="feature.text">
                    </div>
                    <button ng-click="vm.removeSimpleInputRow($parent.vm.model.highlight.features.featureList,$index)"
                            class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addSimpleInputRow($parent.vm.model.highlight.features.featureList)"
                        class="btn btn-primary">Add new <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary mvt-editor">
        <div class="panel-heading">{{vm.model.highlight.mvts.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="mvt in vm.model.highlight.mvts.mvtList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="mvt.text">
                    </div>
                    <button ng-click="vm.removeSimpleInputRow($parent.vm.model.highlight.mvts.mvtList,$index)"
                            class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addSimpleInputRow($parent.vm.model.highlight.mvts.mvtList)"
                        class="btn btn-primary">Add new <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>
</div>

<div class="panel-group release-stat-editor" ne-toggle>
    <h3 class="group-header"><span class="glyphicon glyphicon-stats"></span> {{vm.model.releaseStatistics.title}}</h3>

    <div class="panel panel-primary finished-stories">
        <div class="panel-heading">{{vm.model.releaseStatistics.finishedStories.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-sm-6">
                <div class="form-group row"
                     ng-repeat="pod in vm.model.releaseStatistics.finishedStories.podStat track by $index">
                    <label for="{{pod.name}}" class="col-xs-6">{{pod.name}}: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control" ng-model="pod.value" id="{{pod.name}}">
                    </div>
                </div>
            </form>
            <div class="col-sm-6 sum-story-container">
                <div class="row">
                    <img src="../../assets/images/sum-stories.png" class="img-responsive img-rounded" alt="sum icon"
                         height="60" width="60">

                    <p class="sum-of-stories-value text-danger">{{vm.getSumOfFinishedStories()}} <span
                        class="text-info">stories</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary bug-related-stat">
        <div class="panel-heading">{{vm.model.releaseStatistics.bugRelatedStatistics.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-sm-6">
                <div class="form-group row">
                    <label for="raised-bugs" class="col-xs-6">Raised bugs: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control"
                               ng-model="vm.model.releaseStatistics.bugRelatedStatistics.raisedBugs" id="raised-bugs">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="resolved-bugs" class="col-xs-6">Resolved bugs: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control"
                               ng-model="vm.model.releaseStatistics.bugRelatedStatistics.resolvedBug"
                               id="resolved-bugs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel-group anniversary-editor" ne-toggle>
    <h3 class="group-header"><span class="glyphicon glyphicon-glass"></span>{{vm.model.anniversaries.title}}</h3>

    <div class="panel panel-primary birthday-editor">
        <div class="panel-heading">{{vm.model.anniversaries.birthdays.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group"
                     ng-repeat="person in vm.model.anniversaries.birthdays.personList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="person.text">
                    </div>
                    <button
                        ng-click="vm.removeSimpleInputRow($parent.vm.model.anniversaries.birthdays.personList,$index)"
                        class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addSimpleInputRow($parent.vm.model.anniversaries.birthdays.personList)"
                        class="btn btn-primary">Add new <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary landing-birthday-editor">
        <div class="panel-heading">{{vm.model.anniversaries.landingAnniversaries.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group"
                     ng-repeat="person in vm.model.anniversaries.landingAnniversaries.personList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="person.text">
                    </div>
                    <button
                        ng-click="vm.removeSimpleInputRow($parent.vm.model.anniversaries.landingAnniversaries.personList,$index)"
                        class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addSimpleInputRow($parent.vm.model.anniversaries.landingAnniversaries.personList)"
                        class="btn btn-primary">Add new <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>
</div>

<div class="panel-group actual-things-editor" ne-toggle>
    <h3 class="group-header"><span class="glyphicon glyphicon-picture"></span> {{vm.model.actualThings.title}}</h3>

    <div class="panel panel-primary actual-things">
        <div class="panel-heading">{{vm.model.actualThings.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-xs-12"
                  ng-repeat="actualThing in vm.model.actualThings.list track by $index">
                <div class="form-group row">
                    <label for="actual-thing-title-{{$index}}" class="col-xs-4">Actual thing's title or description</label>

                    <div class="col-xs-6">
                        <input type="text" ng-model="actualThing.title" class="form-control" id="actual-thing-title-{{$index}}">
                    </div>
                    <div class="col-xs-2">
                        <button ng-click="vm.removeActualThing($index)" class="btn btn-danger">Remove <span
                            class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
                <image-uploader actual-thing="actualThing"></image-uploader>
            </form>
            <div class="col-xs-12">
                <button ng-click="vm.addNewActualThing()" class="btn btn-primary btn-sm">Add <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        </div>
    </div>
</div>
