<div class="bg-primary tool-header">
    <h2 class="text-center text-capitalize">Email editor <span class="glyphicon glyphicon-edit"></span></h2>
</div>

<div class="panel-group highlight-editor" ne-toggle>
    <h3 class="group-header">{{vm.model.highlight.title}}</h3>

    <div class="panel panel-primary feature-editor">
        <div class="panel-heading">{{vm.model.highlight.features.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="feature in vm.model.highlight.features.featureList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="feature.text">
                    </div>
                    <button ng-click="vm.removeHighlightFeature($index)" class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addHighlightFeature()" class="btn btn-primary">Add new feature <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>

    <div class="panel panel-primary mvt-editor">
        <div class="panel-heading">{{vm.model.highlight.mvts.title}}</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="mvt in vm.model.highlight.mvts.mvtList track by $index">
                    <div class="col-xs-11">
                        <input type="text" class="form-control" ng-model="mvt.text">
                    </div>
                    <button ng-click="vm.removeHighlightMvt($index)" class="btn btn-primary"><span
                        class="glyphicon glyphicon-remove"></span></button>
                </div>
                <button ng-click="vm.addHighlightMvt()" class="btn btn-primary">Add new MVT <span
                    class="glyphicon glyphicon-plus-sign"></span></button>
            </form>
        </div>
    </div>
</div>

<div class="panel-group release-stat-editor" ne-toggle>
    <h3 class="group-header">{{vm.model.releaseStatistics.title}}</h3>

    <div class="panel panel-primary finished-stories">
        <div class="panel-heading">{{vm.model.releaseStatistics.finishedStories.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-sm-6">
                <div class="form-group row"
                     ng-repeat="pod in vm.model.releaseStatistics.finishedStories.podStat track by $index">
                    <label for="{{pod.name}}" class="col-xs-6">{{pod.name}}: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control" ng-model="pod.value" id="{{pod.name}}">
                    </div>
                </div>
            </form>
            <div class="col-sm-6 sum-story-container">
                <div class="row">
                    <img src="../../assets/images/sum-stories.png" class="img-responsive img-rounded" alt="sum icon"
                         height="60" width="60">
                    <p class="sum-of-stories-value text-danger">{{vm.getSumOfFinishedStories()}} <span
                        class="text-info">stories</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary bug-related-stat">
        <div class="panel-heading">{{vm.model.releaseStatistics.bugRelatedStatistics.title}}</div>
        <div class="panel-body row">
            <form class="form-horizontal col-sm-6">
                <div class="form-group row">
                    <label for="raised-bugs" class="col-xs-6">Raised bugs: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control" ng-model="vm.model.releaseStatistics.bugRelatedStatistics.raisedBugs" id="raised-bugs">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="resolved-bugs" class="col-xs-6">Resolved bugs: </label>

                    <div class="col-xs-6">
                        <input type="number" class="form-control" ng-model="vm.model.releaseStatistics.bugRelatedStatistics.resolvedBug" id="resolved-bugs">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
